In [6]:
import pandas as pd
import hashlib

In [13]:
df = pd.read_csv('../data/heart.csv')

In [14]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [15]:
df = df.reset_index()
df.head()

,index,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [16]:
def hash_fun(item):
    return hashlib.sha256(str(item).encode('ASCII')).hexdigest()

df['account_id'] = df['index'].map(lambda x: hash_fun(x))

In [17]:
df.head()

,index,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,account_id
0,0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...
1,1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...
2,2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...
3,3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...
4,4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...

In [21]:
df.shape

(1025, 16)

In [19]:
len(df['account_id'].unique())

1025

In [22]:
df.columns

Index(['index', 'age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg',
       'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target',
       'account_id'],
      dtype='object')

In [25]:
df_update = df[['account_id', 'cp', 'trestbps', 'chol', 'fbs', 'restecg',
       'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target']]

In [26]:
df_update.to_csv('../data/heart_raw.csv')

In [27]:
df_account = df[['account_id', 'sex','age']]
df_account.to_csv('../data/customer_raw.csv')