In [10]:
import pandas as pd
import hashlib

In [ ]:

arr = [1,2,3,4]

print(','.join(str(x) for x in arr))

In [11]:
df = pd.read_csv('../data/heart.csv')

In [12]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [26]:
list_tuples = list(df.itertuples(index=False, name=None))
tuples = (','.join(str(x) for x in list_tuples))

In [17]:
arr = [[1,2,3],[4,5,6]]
arr

[[1, 2, 3], [4, 5, 6]]

In [35]:
y = [tuple(row) for row in arr]
','.join(str(x) for x in y)

'(1, 2, 3),(4, 5, 6)'

In [41]:
arr = [1,2,4]

','.join(str('({})'.format(x)) for x in arr)

'(1),(2),(4)'

In [ ]:
df = df.reset_index()
df.head()

In [ ]:
def hash_fun(item):
    return hashlib.sha256(str(item).encode('ASCII')).hexdigest()

df['account_id'] = df['index'].map(lambda x: hash_fun(x))

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
len(df['account_id'].unique())

In [ ]:
df.columns

In [ ]:
df_update = df[['account_id', 'cp', 'trestbps', 'chol', 'fbs', 'restecg',
       'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target']]

df_update.head()

In [ ]:
df_update.to_csv('../data/heart_raw.csv')

In [ ]:
df_account = df[['account_id', 'sex','age']]
df_account.to_csv('../data/account_raw.csv')